* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(90deg, black, darkred, red, darkorange, orange, yellow);
    color: white;
    width: 100%;
    margin-top: 10px;
   
}

.brand-title {
    font-size: 1.5rem;
    color: lawngreen;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.main{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background: linear-gradient(90deg, darkorange, yellow);
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }
    .main{
        width: 100%;
        height: 200px;
        background: linear-gradient(90deg, darkorange, yellow);
    }
}
